.navbar {
    display: flex;
    justify-content: space-around;
    padding: 0.5vh;
    box-shadow: 0 1px 3px -2px black;
}

.nav_menu {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 3vw;
    color: #626262;
    font-size: 3vh;
    font-weight: 500;
}

.nav_menu li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.nav_menu hr {
    border: none;
    width: 80%;
    height: 3px;
    border-radius: 10px;
    background: #FF4141;
}

.cart {
    display: flex;
    align-items: center;
    gap: 4vh;
    
}

.cart button {
    width: 15vh;
    height: 6vh;
    outline: none;
    border: 1px solid #7a7a7a;
    border-radius: 75px;
    color: #515151;
    font-size: 3vh;
    font-weight: 500;
    background: white;
    cursor: pointer;
    /* padding: 2vh; */
}

.cart img{
    height: 3.5vw;
}

.cart button:active {
    background: #FF4141;
}
.nav_cart_count{
    width: 1.7vw;
    height: 1.7vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -6vh;
    margin-left: -5vh;
    border-radius: 10px;
    font-size: 2vh;
    background: rgb(239, 41, 41);
    color: white;
}
.nav_dropdown{
    display: none;
  }
  
  

 